.chat-container{
  width: 100%;
  position: relative;
}
.chat-box {
  width: 925px;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.chat-messages {
  position: relative;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-messages-list {
  position: relative;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message {
  padding: 8px 12px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.user {
  background-color: #504C8C;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #F7F8FA;
  align-self: flex-start;
  border-radius: 8px;
}

.chat-input {
  display: flex;
  gap: 10px;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #504C8C;
  border-radius: 100px;
  align-items: center;
  box-shadow: 0 8px 80px #00000024, 0 0 2px #0000001f;
  padding: 13.5px 24px;
}